<table>
{{# grupos }}
    <tr>
        <td><a href="ficha.php?id={{id}}">{{nombre}}</a></td>
        <td><img src="{{imagen}}" height="80"/></td>
        <td>{{{descripcion}}}</td>
        <td>{{ano}}</td>
    </tr>
{{/ grupos }}
</table>